<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <link href="lib/mui/dist/css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
   
 
</head>
<body id="box_contain">
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">事件纪念日</h1>
		<a class=" mui-icon mui-icon-home  mui-pull-right" id="home"></a>
	</header>
	<div class="mui-content main_content" >
		<div class="box" v-for="item in boxList" v-if="boxList.length>0">
			<div class="box_time"><span class="box_day_num" v-bind="item.event"></span><span class="box_day_name">天</span></div>
			<div class="box_event"><span class="mui-badge mui-badge-primary own_label" id="box_type">未来</span>恋爱纪念日</div>
			<div class="box_del">X</div>
		</div>

	</div>
	<div class="share_main">
	
	<div class="share_close">
		<button type="button" onclick="shareClose()">关闭</button>
	</div>
		<ul class="share_list mui-table-view" >
		</ul>
	</div>
	<nav class="mui-bar mui-bar-tab">
		  <a class="mui-tab-item " href="#" id="update">
				<span class="mui-icon mui-icon-reload"></span>
				<span class="mui-tab-label">系统更新</span>
			</a>
			<a class="mui-tab-item mui-active" @click="boxAdd()" >
				<span class="mui-icon mui-icon-plusempty"></span>
				<span class="mui-tab-label">添加</span>
			</a>
			<a class="mui-tab-item" href="#" id="share">
				<span class="main_share"></span>
				<span class="mui-tab-label">分享</span>
			</a>
			
	</nav>
	<script type="text/javascript" src="lib/mui/dist/js/mui.js" ></script>
 	<script type="text/javascript" src="lib/zepto/zepto.min.js" ></script>
	<script type="text/javascript" src="lib/vue/dist/vue.js" ></script>
	<script type="text/javascript" src="lib/bmob/bmob-min.js" ></script>
	<script type="text/javascript" src="newJs/index.js" ></script>
</body>
</html>