@font-face {
  font-family: 'iconfont';
  /* project id 35466 */
  src: url('//at.alicdn.com/t/font_5w2vafda358f47vi.eot');
  src: url('//at.alicdn.com/t/font_5w2vafda358f47vi.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_5w2vafda358f47vi.woff') format('woff'), url('//at.alicdn.com/t/font_5w2vafda358f47vi.ttf') format('truetype'), url('//at.alicdn.com/t/font_5w2vafda358f47vi.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 0.38647343rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  font-size: 0.48309179rem;
  background: url("//cdn.xbpig.cn/tpv9dh822va-stefan-stefancik.jpg");
  background-size: 100%;
  background-position: center;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.img {
  width: 100%;
}
/**
公共页面样式
 */
#root {
  height: 100%;
  width: 100%;
}
#root > div {
  height: 100%;
  width: 100%;
  background: linear-gradient(170deg, rgba(48, 162, 188, 0.8) 1%, #3A326B 100%);
}
.common {
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 0.38647343rem;
}
.common-head {
  background: none;
  text-align: center;
  color: #FFFFFF;
  font-size: 0.43478261rem;
  height: 0.86956522rem;
  line-height: 0.86956522rem;
}
.common-content {
  position: absolute;
  top: 0.86956522rem;
  left: 0;
  right: 0;
  z-index: 10;
  bottom: 1.69082126rem;
  overflow: auto;
}
.common-footer {
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1.69082126rem;
  width: 100%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.21);
}
.common-footer .nav-item {
  color: #FFFFFF;
  flex: 1;
  text-align: center;
}
.common-footer .nav-item a {
  color: #FFFFFF;
  text-decoration: none;
}
.common-footer .nav-item .icon {
  font-size: 0.84541063rem;
}
.common-footer .nav-item .title {
  font-size: 0.28985507rem;
}
.icon-back {
  font-size: 0.48309179rem;
  float: left;
  margin-left: 0.48309179rem;
}
.icon-refresh {
  font-size: 0.48309179rem;
  float: right;
  margin-right: 0.48309179rem;
}
.profile_img {
  width: 3.09178744rem;
  height: 3.09178744rem;
  border-radius: 3.09178744rem;
  margin: 25% auto 0;
}
.profile_img img {
  width: 100%;
  border-radius: 3.09178744rem;
}
.profile_name {
  text-align: center;
  margin-top: 0.48309179rem;
  color: #FFFFFF;
}
.doorList {
  background-color: #FFFFFF;
  margin-top: 1.20772947rem;
}
.doorItem {
  height: 1.25603865rem;
  padding: 0.24154589rem;
  color: #95989A;
  line-height: 0.77294686rem;
  box-sizing: border-box;
}
.doorItem:not(:last-child) {
  border-bottom: 1px solid rgba(149, 152, 154, 0.13);
}
.doorIcon {
  width: 0.77294686rem;
  height: 0.77294686rem;
  float: left;
  color: #fa7298;
}
.doorIcon .iconfont {
  font-size: 0.77294686rem;
}
.doorName {
  float: left;
  margin-left: 0.24154589rem;
}
.doorSee {
  width: 0.77294686rem;
  height: 0.77294686rem;
  float: right;
}
.doorSee img {
  width: 100%;
}
