<!DOCTYPE html>
<html lang="zh-cn" >
<head>
    <meta charset="UTF-8">
    <title>事件纪念日</title>
    <meta property="qc:admins" content="55727770065477620750116217636710071645060454" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="assets/css/index.css">
    <link rel="stylesheet" href="assets/lib/date/zepto.mdatetimer.css">
    <!--<script src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js"-->
            <!--data-appid="101334797" data-redirecturi="http://lovelog.zhouxianbao.cn/app/checklogin.html"></script>-->
    <script  src="assets/lib/requirejs/require.js"></script>
    <script src="js/index.js"></script>
</head>
<body>
    <header class="header">
        <div class="head-pic"></div>
        <div class="header-title">事件纪念日</div>
        <div class="share iconfont">
            &#xe605;
        </div>
    </header>
    <div class="content" id="app">


    </div>


    <footer class="footer" id="footer">


    </footer>

<script id="boxList" type="text/html">
    {{ each list as value  }}
    <div class="index-box" data-id="{{ value.id }}">
        <div class="index-box-main" style="background-image: url('{{ value.img }}')">
            <div class="index-box-mask"></div>
            <div class="index-box-content">
                <div class="index-box-CountDown">

                    <div class="time {{ value.eventYear != 0?'':'hidden'  }}">
                        {{ value.eventYear }}
                        <span class="title">年</span>
                    </div>
                    <div class="time">
                        {{ value.eventDay }}
                        <span class="title">天</span>
                    </div>
                </div>
                <div class="index-box-time">{{ value.eventTime }}</div>
            </div>

        </div>
        <div class="index-box-name">
           {{ value.eventName }}
        </div>
    </div>
    {{ /each }}
</script>
<script id="addBox" type="text/html">
    <div class="add">
        <div class="form-group">
            <label>事件名称</label>
            <div class="input-group">
                <input type="text" id="incidentName">
            </div>
        </div>
        <div class="form-group">
            <label>事件时间</label>
            <div class="input-group">
                <input type="date" id="picktime" placeholder="点击添加时间"  >

            </div>
        </div>
        <div class="form-group">
            <label>封&nbsp;&nbsp;面&nbsp;&nbsp;图 </label>
            <div class="input-group" id="addContent">
                <button type="button" class="btn btn-main" id="pickfiles">添加封面</button>
                <input type="text" class="hidden" id="pickfilesInput">
            </div>
        </div>
        <div class="box-img" id="addbox_img">

        </div>

    </div>
</script>
<script type="text/html" id="template_footer">
    <div class="footer-item"><a href="?page=about">关于我们</a></div>
    <div class="footer-item" >
        <a href="{{ type == 'index'?'?page=add':'javascript:void(0)' }}">
            {{ if type == 'index' }}
            <div class="box-add iconfont" >&#xe601;</div>
            {{ else  }}
            <div class="box-add box-save-btn" id="box_save_btn" >保存</div>
            {{ /if }}
            <div class="clearfix"></div>

        </a>

    </div>
    <div class="footer-item"><a href="?page=index">我的事件</a></div>
</script>
<script type="text/html" id="template_login">

    <div  class="login">
        {{ if data.type == 'QQ' }}
        <div class="loginMain" id="qqLoginBtn">
            <button type="button" class="login-qq"></button>
        </div>
        {{else if data.type == 'person' }}
        <div class="person">
            <div class="head-pic person-head " style="background-image: url('{{ data.info.user_pic }}')"></div>
            <div class="person-main">

                <div class="person-item">
                    <span>用户id:</span>
                    <span>{{ data.id }}</span>
                </div>
                <div class="person-item">
                    <span>用户名:</span>
                    <span>{{ data.info.username }}</span>
                </div>
                <div class="person-item">
                    <span>性别:</span>
                    <span>{{ data.info.sex }}</span>
                </div>
                <div class="person-item">
                    <span>地区:</span>
                    <span>{{ data.info.province +'--'+ data.info.city }}</span>
                </div>
                <div class="person-close">
                    <button type="button" >关闭</button>
                </div>
            </div>
        </div>
        {{ /if }}
    </div>

</script>
</body>
</html>